*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    padding: 20px 10px 20px 10px;
}
.nav{
    display: flex;
    gap: 10px;
    margin-right: auto;
}
.menu{
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.menu-hide{
width: 360px;
height: 440px;
background: #FFFFFF;
margin-top: 20px;
}
.menu-pic{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}
.language{
    margin-left: 20px;
}
.hide{
padding:10px ;
font-family: "montserrat";
}
.social{
    padding:10px,10px,10px,20px;
    margin-top: 90px;

}
.black2{
    padding-left: 10px;
}
.icon{
    margin-left: auto;
}
.your{
    font-size: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    color: #2A90D9;
}
.logo{
    font-size: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    font-style: normal;
    color: #EE685F;
    margin-right: auto;
}