/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    padding: 20px 10px 20px 10px;
}
.nav{
    display: flex;
    gap: 10px;
    margin-right: auto;
} */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px 10px 20px 10px;
    overflow-x: hidden;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    color: white;
    padding: 10px 20px;
}

.menu-toggle {
    font-size: 24px;
    background: none;
    border: none;
    color:black;
    cursor: pointer;
    display: none;
}

.nav-menu {
    display: flex;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.your{
    font-size: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    color: #2A90D9;
    margin: auto;
    padding-left: 40px;
    margin-top: -35px;
}
.logo{
    font-size: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    font-style: normal;
    color: #EE685F;
}
.icon{
padding-left: 300px;
transform: translateY(-30px);
}

.your2{
    font-size: 28px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: #2A90D9;
    padding-left: 25px;
    margin-top: -15px;
}
.logo2{
    font-size: 28px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    font-style: normal;
    color: #EE685F;
}

.icon2{
margin-left: auto;
transform: translateY(-60px);
margin-right: 20px;
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: black;
}

.close-menu {
    font-size: 24px;
    background: none;
    border: none;
    color:black;
    cursor: pointer;
    position: absolute;
    top: 10px;
}
    .menu-toggle {
        display: block;
    }
    .nav-menu {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 1;
        margin-top: -95px;
        margin-left: -25px;
    }
    .nav-menu.active {
        transform: translateX(0);
        display: flex;
    }
    .nav-menu ul {
        flex-direction: column;
        width: 100%;
    }
    .nav-menu li {
        margin: 0px 0;
        color: black;
        margin-top: 5px;
        line-height: 30px;
        margin-bottom: 0px;
    }
    .close-menu {
        display: block;
    }
.menu-pic{
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    padding-top: 150px;
}
.language{
    margin-left: 20px;
}
.hide{
padding:10px ;
font-family: "montserrat";
}
.social{
    padding:10px,10px,10px,20px;
    margin-top: 90px;

}
.black2{
    padding-left: 10px;
    padding-bottom: 30px;
}
.banners{
    background-image: url("assets/banner.png");
    height:334px;
    width: 360px;
    background-repeat: no-repeat;
    margin-top: -20px;
    width: 100%;
}
.h1-banner{
    font-weight: 328px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 39px;
    color: #262729;
    padding-top:10px ;
    margin-left: 20px;

}
.p-banner{
    padding-left: 20px;
width: 232px;
height: 72px;
font-family: 'Monoton';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #262729; 
padding-top: 10px;
}
.search{
    width: 328px;
    border-radius: 40px;
    background-color: white;
    display: flex;
    height: 70px;
    border: 1px solid #D6D6D6;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
    margin-top: 30px;
    padding-left: 15px;
    position: absolute;
}
.location{
    margin-top: 20px;
    margin-left: 10px;
}
.button{
    padding-left: 220px;
    padding-top: -85px;
    transform: translateY(-35px);
    position: relative;
}
.where{
    text-align: start;
    font-family: "Montserrat";
    font-size: 16px;
    margin-left: 20px;
    padding: 20px;
    padding-top: 20px;
}

.destination{
    margin-right: -40px;
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #A3A3A3;
    margin-top: 30px;
    margin-left: 10px;
}

.p-search{
    text-align: start;
    font-family: "Montserrat";
    font-size: 16px;
}
.whychooseus{
    background-color: rgb(236, 233, 233);
    text-align: center;
    padding-top: 30px;
}
.image{
    margin-top: 20px;
    margin-bottom: -5px;
    padding-left: 70px;
}
.p-why{
    font-size: 20px;
    font-family: "Montserrat";
}
h2{
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #262729;

}
.title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #262729;
    margin-top: -5px;
}
.description{
    font-family: "Montserrat";
    margin-top: -40px;
}
.h-special{
    text-align: center;
}
.Rectangle{
    margin-bottom: -25px;
    padding-left: 10px;
    padding-top: -10px;
    position: relative;
    padding-bottom: 10px;

}
.rate{
    position: absolute;
    margin-left: -30px;
    transform: translateY(-200px);
}
.favorite{
    position: absolute;
    padding-left: 250px;
    transform: translateY(-200px);

}
.rate-fav{
    transform: translateY(-210px);
    display: flex; 
    padding-left: 25px;
    position: absolute;

}
.SpecialofferDescription{
    padding-left: 20px;
    padding-bottom: 10px;
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 500;
    color: #262729;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}
.months{
    margin-left: 20px;
    font-family: "Montserrat";
    width: 235px;
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #262729;
    margin-top: -25px;
}
.price{
    font-size: 28px;
    margin-left: 20px;
    margin-top: 5px;
    color: rgb(125, 192, 247);
}
.time{
    display: flex;
}
.night{
    color: rgb(125, 192, 247);
    margin-top: -50px;
    margin-left: 5px;
    font-size: 18px;
    transform: translateX(100px);
}
.Review{
    justify-items: center;
}
.Ellipse{
    padding-top: 30px;
    padding-left: 130px;
}
.reviewDescription{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #262729;
margin-left: 20px;
}
.scholars{
font-family: 'Montserrat';
font-style: italic;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #1A1A1A;
padding-left: 20px;
margin-top: -30px;
}

.work{
    font-family: "Montserrat";
    font-weight: 300;
}

.h-recent{
    width: 189px;
    height: 34px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #262729;
    margin-left: 70px;
    
    }
    
.Rectangle2{
    margin-bottom: -5px;
    padding-left: 15px;
    padding-top: -10px;
    position: relative;
    padding-bottom: 10px;

}
    .recentDescription{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #262729;
    margin-left:5px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    }
    .recentDate{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #262729;
        margin-left: 25px;
        margin-top: -5px;
        }
    .minutes{
        padding-left: 230px;
        transform: translateY(-35px);
        height: 18px;
    }
    .titlerecent{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #262729;
    margin-top: -30px;
    margin-left: 20px;
    }
    .footer{
    box-sizing: border-box;
    width: 360px;
    height: 827px;
    border: 1px solid #000000;
    background-color: #D6D6D6;
    
    }
    h4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #262729;
    margin-left: 30px;
    }
    
.footer{
    box-sizing: border-box;
    background-color: rgb(236, 233, 233);
    border: 2px solid rgb(236, 233, 233) ;
    height: 1000px;
    line-height: 20px;
    }
    h4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #262729;
    margin-left: 10px;
    padding: 10px;
    
    }
    .title-1,.title-2,ul,.title-3{
        margin-top: 30px;
        line-height: 10px;
    }
    ul,.email{
    height: 17px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #262729;
    
    }
    .email{
        padding-left: 20px;
        width: 100px;
    }
    ul{
        padding-left: 20px;
    }
    .red{
    box-sizing: border-box;
    height: 40px;
    width: 330px;
    background: #FFFFFF;
    border: 1px solid #EE685F;
    border-radius: 10px;
    margin-left: 20px;
    padding-bottom: 10px;
    
    }
    .arrow{
        transform: translateY(-40px);
        height: 40px;
        margin-left: 310px;
        background-color: #EE685F;
        border: #EE685F;
        border-radius: 0px 10px 10px 0px ;
        width: 40px;
    }
    hr{
        height: 5px;
    }
    .your3{
        font-size: 32px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        line-height: 39px;
        color: #2A90D9;
        margin: auto;
        padding-left: 10px;
        margin-top: 25px;
    }
    .logo3{
        font-size: 32px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        line-height: 39px;
        font-style: normal;
        color: #EE685F;
    }
    .black{
        margin-left: 10px;
        transform:translateY(-60px) ;
    }
    .design{
        font-family: "Montserrat";
        color: #262729;
        margin-left: 22px;
        margin-top: -40px;
    }
    .del{
        
        font-family: "Montserrat";
        color: #2A90D9;
    }
        